body {
    background-color: hsl(0, 0%, 20%);
}

h1, h2 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: hsl(240, 100%, 90%);
}

section {
    background-color: #2c2b2b;
    /* height: 100%; */
    width: fit-content;
    max-width: clamp(570px, 10%, 500px);
    margin: auto;
}

section#Contact-Info {
    width: 100%;
}

div#Videos {
    max-width: 200%;
}

div#divie-list {
    text-align: center;
}

ul#lalist {
    display: inline-block;
    text-align: left;
    color: aliceblue;
}

img#flag {
    width: 18px;
}